/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(50%);
}

header {
    background-color: rgba(31, 31, 31, 0.8);
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a.active, nav ul li a:hover {
    color: #f39c12;
}

/* Logo */
.logo img {
    width: 50px;
    height: auto;
}

/* Portfolio Content Section */
.portfolio-content {
    padding: 150px 20px;
    text-align: center;
    z-index: 5;
    position: relative;
}

.portfolio-content h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
    animation: text-fade 2s infinite alternate;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: opacity 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.portfolio-item h2 {
    margin: 0;
    font-size: 1.5em;
}

.portfolio-item p {
    margin: 10px 0 0 0;
    font-size: 1em;
}

/* Footer */
footer {
    background-color: rgba(31, 31, 31, 0.8);
    padding: 10px 0;
    text-align: center;
    z-index: 10;
    position: relative;
}

/* Keyframes for Animations */
@keyframes text-fade {
    0% {
        color: #ffffff;
    }
    100% {
        color: #f39c12;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .portfolio-content h1 {
        font-size: 2em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .logo img {
        width: 40px;
    }
  }
